<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post" id="registerForm">
        {% csrf_token %}
        <div class="mb-3">
            <input type="text" name="uname" placeholder="Username" required><br>
        </div>
        <div class="mb-3">
            <input type="email" name="email"  placeholder="Email" required><br>
        </div>
        <div class="mb-3">
            <input type="password" name="pswrd"  placeholder="Password" id="pass" required><br>
        </div>
      
        <input type="submit" class="btn" value="Register" ><br><br>
        <span>Already have an account?  </span><a href="../">Login</a>
    </form>
</body>
</html>