<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style1.css' %}">
</head>
<body>
    <div class="main">
        <h1>ADD PRODUCT</h1>
         <form action="" method="post">
        {% csrf_token %}
        <input type="text" name="pid" id="" class="input1" placeholder="product id"><br><br>
        <input type="text" name="name" id="" class="input1" placeholder="name"><br><br>
        <input type="text" name="dis" id="" class="input1" placeholder="description"><br><br>
        <input type="number" name="price" id="" class="input1" placeholder="price"><br><br>
        <input type="number" name="offer_price" id="" class="input1" placeholder="offer price"><br><br>
        <input type="number" name="stock" id="" class="input1" placeholder="stock"><br><br>
        <input type="file" name="img" id=""class="input1"><br><br>
        <input type="submit" value="add" class="input2"><br><br>
    </form>
    </div>
   

   
</body>
</html>